* { box-sizing: border-box; }

html { background-color: lightgray; }
body { width: 32rem; margin: 0 auto; }

table {
    width: 32rem;
    table-layout: fixed;
}

td,
tr { border: 1px solid grey; }

tr { height: 4rem; }
td { width: 4rem; overflow: hidden; }

td { background-color: white; }

.cell_contents {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: white;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
.scrim {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 99;
}
